header {
    border-bottom: 1px soild #ccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .nav-link {
        color: #000;
    border-radius: 20px;
    }
    .nav-link:hover {
        background-color: #ff001f !important;
        border-radius: 20px;
        color: #fff;
    }
    .nav-link {
        cursor: pointer;
    }
    .nav-link.selected {
        background-color: #ff001f !important;
        color: #fff;
    }
   .router-link-active {
    background-color: #ff001f !important;
    color: #fff !important;
   }
    .dropdown_Menu {
    border-radius: 20px;
    width: 150px;
    position: absolute;
    z-index: 2;
    top: 55px;
    background-color: #fff;
    box-shadow: 1px 3px 13px;
    padding: 10px;
      li {
        list-style-type: none;
        text-align: center;
        /* padding: 10px; */
        color: #777;
        margin-bottom: 10px;
        background-color: rgba;
        width: 100%;
        padding: 2px;
        border-radius: 20px;
        cursor: pointer;
      }
      li:hover {
        background-color: rgba(0, 0, 0 ,0.1);
      }
    }
    .dropdown_project {
        left: 261px;
    }
    .dropdown_land_serice {
        left: 378px;
    }
    .dropdown_land_scape {
        left: 520px;
    }
}
.sidelbar-menu {    
  
}
footer {
    .footer_top {
        .textwidget {
            margin-top: 25px !important;
            color: #fff;
        }
        background-image: url(https://static.upgo.vn/images/upinstantpage/168659294081615045578104
        );
        background-color: #777;
        .block_widget {
            position: relative;
            padding: 35px 0 35px 22px;
            color: #fff;
            .widget-title {
                font-size: 20px;
                text-transform: uppercase;
            }
            .is-divider {
                margin-top: 15px;
            }
        }
    }
    .footer_bottom {
        background: #fff; 
        padding: 15px;
      
       
    }
}