<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success p-mr-2"
                            ></button>
                        <button pButton pRipple label="Xóa" icon="pi pi-trash" class="p-button-danger"
                            ></button>
                    </ng-template>

                    <ng-template pTemplate="right">
                        <div class="p-d-flex p-ai-center p-jc-between justify-content-flex-end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Tìm kiếm..." />
                            </span>
                        </div>
                        <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
                    </ng-template>
                </p-toolbar>
                <p-table #dt  [rows]="10" [paginator]="true"
                    styleClass="p-datatable-responsive-demo"
                    [globalFilterFields]="['name','country.name','representative.name','status']"
                     [rowHover]="true" dataKey="id"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">Giá bán <p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category">Danh mục <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th pSortableColumn="rating">Địa chỉ<p-sortIcon field="rating"></p-sortIcon>
                            </th>
                            <th pSortableColumn="inventoryStatus">Trạng thái <p-sortIcon field="inventoryStatus">
                                </p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td class="p-column-title">
                                <p-tableCheckbox [value]="product"></p-tableCheckbox>
                            </td>
                            <td class="p-column-title">{{product.name}}</td>
                            <td class="p-column-title">{{product.price | currency:'USD'}}</td>
                            <td class="p-column-title">{{product.category}}</td>
                            <td class="p-column-title">
                                {{product.address}}
                                <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false">
                                </p-rating> -->
                            </td>
                            <td class="p-column-title"><span
                                    [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                            </td>
                            <td class="p-column-title">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2 mr-2"
                                    ></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <!-- In total there are {{products ? products.length : 0 }} products. -->
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [style]="{width: '450px','max-height':'auto'}" header=""
                [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="p-field">
                        <label for="name">Tên</label>
                        <input type="text" pInputText id="name" required autofocus />
                        <small class="p-invalid" >Tên không được trống</small>
                    </div>
                    <div class="p-field">
                        <label for="name">Diện tích</label>
                        <input type="text" pInputText id="acreage" required autofocus />
                    </div>
                    <div class="p-field">
                        <label for="description">Mô tả</label>
                        <textarea id="description" pInputTextarea  required rows="3"
                            cols="20"></textarea>
                    </div>
                   
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        ></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                        ></button>
                </ng-template>
            </p-dialog>

        </div>
    </div>
</div>
<!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->
