<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Xin chào!</h1>
                    <p class="text-lead text-light">Vui lòng đăng nhập để quản lí hệ thống</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<div class="container mt--8 pb-5" style="height: 400px;">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <!-- <div class="card-header bg-transparent pb-5">
            <div class="btn-wrapper text-center">
            </div>
          </div> -->
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                    </div>
                    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-3">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control" placeholder="Tài khoản" type="text" #account
                                    name="display_name" formControlName="display_name" [(ngModel)]="_account"
                                    [ngClass]="{ 'is-invalid': submitted && f.display_name.errors }" />
                                <div *ngIf="submitted && f.display_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.display_name.errors.required">Nhập tên !</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Mật khẩu" name="password" #password
                                    [(ngModel)]="_password"  autocomplete="on" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Nhập mật khẩu !</div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Đăng nhập</button>
                        </div>
                    </form>
                    <div class="col-6">
                        <a [routerLink]="['/register']" routerLinkActive="router-link-active"
                            class="text-light"><small>Tạo tài khoản ? </small></a>
                    </div>
                </div>
            </div>
            <div class="row mt-3">

            </div>
        </div>
    </div>
</div>