<div class="container-fluid">
    <div class="row" [style]="{'padding':'22px'}">
        <div class="col-12 col-md-8 col-lg-8 col-xl-9">
            <div class="page_left">
                <div class="row post-detail">
                    <div class="post-detail-content">
                        <h1>Tổng quan dự án Sudico</h1>
                        <p>Tổng quan dự án Sudico – Khu Đô thị mới Lê Trọng Tấn Hà Tây nằm ở phía Tây Bắc của Hà nội,
                            diện tích 135 ha, bao gồm: nhà đa chức năng, siêu thị, sân golf, trường học, phòng khám đa
                            khoa,
                            khu tổ hợp thể dục, thể thao, nhà ở, biệt thự, chung cư.</p>
                        <h3>Chi tiết dự án</h3>
                        <ul>
                            <li>Tỉnh thành:Hà Nội (*)</li>
                            <li>Quận huyện:Hoài Đức, Hà Đông,</li>
                            <li>Phường xã:</li>
                            <li>Địa chỉ:Lê Trọng Tấn kéo dài (Thiên đường Bảo Sơn), Hoài Đức, Hà Đông, Hà Nội</li>
                            <li>Quy mô:135 ha</li>
                            <li>Tổng mức đầu tư:3000 Tỷ VNĐ</li>
                            <li>Chủ đầu tư:Công ty CP XNKTH Hà Nội – Sudico,</li>
                            <li>Đơn vị tư vấn:Công ty tư vấn kiến trúc và xây dựng hội kiến trúc sư Việt Nam</li>
                        </ul>
                        <h2><a href="https://batdongsanhud.com/danh-sach-hang-hoa-geleximco.html"> DANH SÁCH HÀNG HÓA
                                Sudico </a></h2>
                        <p class="text-center">Khu đô thị mới Lê Trọng Tấn Sudico</p>
                        <p><img class="size-full wp-image-553 aligncenter lazy-loaded"
                               style="width: 100%;"
                                src="https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208.jpg"
                                data-lazy-type="image"
                                data-src="https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208.jpg"
                                alt="Dự án Sudico"
                                srcset="https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208.jpg 800w, https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208-300x208.jpg 300w, https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208-768x532.jpg 768w"
                                data-srcset="" sizes="(max-width: 800px) 100vw, 800px"><noscript><img
                                    class="size-full wp-image-553 aligncenter"
                                    src="https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208.jpg"
                                    alt="Dự án GELEXIMCO"
                                    srcset="https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208.jpg 800w, https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208-300x208.jpg 300w, https://batdongsanhud.com/wp-content/uploads/2016/05/phoicanh_geleximco-20120906131208-768x532.jpg 768w"
                                    sizes="(max-width: 800px) 100vw, 800px" /></noscript></p>
                        <p><strong>Vị trí</strong></p>
                        <p>Khu đô thị Lê Trọng Tấn có vị trí lập quy hoạch ở hai bên đường Lê Trọng Tấn, huyện Hoài Đức,
                            quận Hà Đông, nằm về phíaTây Bắc của Hà Nội.</p>
                        <p><img class="alignnone size-full wp-image-573 lazy-loaded"
                                style="width:100%"
                                src="https://batdongsanhud.com/wp-content/uploads/2016/05/vi-tri-20120911102023.png"
                                data-lazy-type="image"
                                data-src="https://batdongsanhud.com/wp-content/uploads/2016/05/vi-tri-20120911102023.png"
                                alt="" width="700" height="528"
                                srcset="https://batdongsanhud.com/wp-content/uploads/2016/05/vi-tri-20120911102023.png 700w, https://batdongsanhud.com/wp-content/uploads/2016/05/vi-tri-20120911102023-300x226.png 300w"
                                data-srcset="" sizes="(max-width: 700px) 100vw, 700px"><noscript><img
                                    class="alignnone size-full wp-image-573"
                                    src="https://batdongsanhud.com/wp-content/uploads/2016/05/vi-tri-20120911102023.png"
                                    alt="" width="700" height="528"
                                    srcset="https://batdongsanhud.com/wp-content/uploads/2016/05/vi-tri-20120911102023.png 700w, https://batdongsanhud.com/wp-content/uploads/2016/05/vi-tri-20120911102023-300x226.png 300w"
                                    sizes="(max-width: 700px) 100vw, 700px" /></noscript></p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <app-sidebar-content></app-sidebar-content>
        </div>
    </div>
    <div class="row">
        <p>Mô tả dự án</p>
        <p>Khu Đô thị mới Lê Trọng Tấn Hà Tây nằm ở phía Tây Bắc của Hà nội, diện tích 135 ha, bao gồm: nhà
            đa chức năng, siêu thị, sân golf, trường học, phòng khám đa khoa, khu tổ hợp thể dục, thể thao,
            nhà ở, biệt thự, chung cư</p>
        <p>Quy mô: bao gồm nhà đa chức năng, siêu thị, sân golf, trường học, phòng khám đa khoa, khu tổ hợp
            thể dục, thể thao, nhà ở, biệt thự, chung cư;</p>
        <p>Dự án Lê Trọng Tấn – Gleximco, chia làm 4 phân khu: Khu A, khu B, khu C và khu D.</p>
        <p>Một số căn liền kề, biệt thự cụ thể như sau:</p>
        <div class="section-content-footer relative">
            <div class="container-fluid">
                <div class="big_content">
                    <div class="items_contents">
                        <h4 class="text_title big_title"><span style="font-size: 95%;">CÁC SẢN PHẨM ĐANG CÓ</span></h4>
                    </div>
                    <div class="inner_container">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4" *ngFor="let item of list_project">
                                <div class="inner_content">
                                </div>
                                <div class="name_conent">
                                    <h4 class="name">{{item.name}}</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="geleximo-bottom">
            <div [style]="{'max-width':'500px'}" calss="text-center">
                <p calss="text-center">Để biết thêm thông tin chi tiết, Quý khách vui lòng liên hệ</p>
                <p calss="text-center"><strong>Mr. THANH 0976.567.755 – 090.332.8884</strong></p>
                <p><strong><em>»»Quý khách muốn xem thêm nhiều thông tin truy cập website :
                            https://batdongsanhud.com</em></strong><strong><em><br>
                        </em></strong></p>
                <p>***Quý Khách hàng lưu ý: Sàn Bất Động Sản hebico không thu bất cứ phí dịch vụ nào của khách
                    hàng. Khi khách hàng đến giao dịch mua bất động sản được miễn phí 100% phí dịch vụ (Tư vấn, môi
                    giới, hoàn thiện thủ tục pháp lý chuyển nhượng mua bán…)</p>

            </div>

        </div>
    </div>
</div>