<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <h2 class="text-center">Đăng kí tài khoản</h2>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" formControlName="display_name" 
                            name ="display_name"
                            class="form-control"
                            placeholder="Tên hiện thị"
                            [ngClass]="{ 'is-invalid': submitted && f.display_name.errors }" />
                            <div *ngIf="submitted && f.display_name.errors" class="invalid-feedback">
                                <div *ngIf="f.display_name.errors.required">Nhập tên hiển thị !</div>
                            </div>
                        </div>
                        <div class="form-group">
                           <input type="text" formControlName="email"
                           placeholder="Email"
                           name ="email"
                           class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Nhập email !</div>
                                <div *ngIf="f.email.errors.email">Nhập đúng kiểu email !</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" 
                            placeholder="Mật khẩu"
                            autocomplete="on"
                            name="password"
                            formControlName="password"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div id="enpassword" *ngIf="f.password.errors.required">Nhập mật khẩu !</div>
                                <div id="minLength" *ngIf="f.password.errors.minLength"> Mật khẩu ít nhất 6 kí tự !</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password"
                            name="confirm_password"
                            autocomplete="on"
                            placeholder="Xác nhận mật khẩu"
                            formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.mustMatch">Mập khẩu không khớp !</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary text-center ">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Đăng kí
                            </button>
                            <a routerLink="/login" class="btn btn-link">Quay lại</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>